<div class="section-container">
    <div class="section-title">
        Contact
    </div>
    <div class="section-content">
        <div class="form">
            <div class="name">
                <div class="spacing">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput [(ngModel)]="firstName">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Prénom</mat-label>
                    <input matInput [(ngModel)]="lastName">
                </mat-form-field>
            </div>
            <div class="objet">
                <mat-form-field>
                    <mat-label>Objet</mat-label>
                    <input matInput [(ngModel)]="subject">
                </mat-form-field>
            </div>
            <div class="message">
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput rows="5" [(ngModel)]="message"></textarea>
                </mat-form-field>
            </div>
            <button mat-flat-button class="send" (click)="openSnackBar()">Envoyer</button>
        </div>
    </div>
</div>