<div class="section-container">
    <div class="section-title">
        Contact
    </div>
    <div class="section-content">
        <div class="form">
            <div class="name">
                <div class="spacing">
                    <mat-form-field class="name-label">
                        <mat-label>Nom</mat-label>
                        <input matInput [(ngModel)]="firstName">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Mail</mat-label>
                    <input matInput [(ngModel)]="mail">
                </mat-form-field>
            </div>
            <div class="objet">
                <mat-form-field>
                    <mat-label>Objet</mat-label>
                    <input matInput [(ngModel)]="subject">
                </mat-form-field>
            </div>
            <div class="message">
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput rows="5" [(ngModel)]="message"></textarea>
                </mat-form-field>
            </div>
            <button mat-flat-button class="send" (click)="openSnackBar()">Envoyer</button>
        </div>
        <div class="social-list">
            <div class="social" (click)="goToUrl()">
                <mat-icon svgIcon="linkedin" class="icon pointer"></mat-icon>
            </div>
            <div class="social">
                <mat-icon >
                    <span class="material-symbols-outlined icon">
                        mail
                    </span>
                </mat-icon>
                galloni@et.intechinfo.fr
            </div>
            <div class="social">
                <mat-icon >
                    <span class="material-symbols-outlined icon">
                        location_on
                    </span>
                </mat-icon>
                Val de marne, France
            </div>
        </div>
    </div>
</div>