<div class="about-container">
    <div class="section-container">
        <h1 class="section-title">
            À propos
        </h1>
        <div class="section-content">
            <div class="content">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Depuis toujours j&rsquo;ai la t&ecirc;te dans les ordinateurs, mon int&eacute;r&ecirc;t pour l&rsquo;informatique a commenc&eacute; non pas par le logicielle mais par l&rsquo;aspect mat&eacute;riel, le montage d&rsquo;ordinateur est depuis longtemps une passion pour moi, s&rsquo;en est naturellement suivi un int&eacute;r&ecirc;t pour l&rsquo;aspect logicielle qui est aujourd&rsquo;hui la voie que j&rsquo;ai choisie.</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;Aujourd&rsquo;hui je suis d&eacute;veloppeur fullstack, j&rsquo;ai accumul&eacute; plusieurs exp&eacute;riences toutes ax&eacute;s vers des environnements .NET associ&eacute; a l&rsquo;utilisation de framework front comme Angular.<br>&nbsp;Mes exp&eacute;riences m&rsquo;ont permis de d&eacute;velopper mes comp&eacute;tences notamment sur l&rsquo;environnement ASP.NET Core mais aussi a la conception d&rsquo;interface utilisateur destin&eacute;e aux entreprises.</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<p style="margin: 0cm 0cm 8pt; line-height: 1.5; font-size: 15px; font-family: Calibri, sans-serif;">Etant de nature curieux le domaine de l&rsquo;informatique et de la programmation ne me laisse jamais sur ma faim, car outre le d&eacute;veloppement fullstack j&rsquo;aime &eacute;galement en tant que d&eacute;veloppeur m&rsquo;essayer &agrave; la cr&eacute;ation de jeu vid&eacute;o en utilisant Unity qui est un moteur de jeu vid&eacute;o &eacute;crit en C#.</p>
            </div>
        </div>
    </div>
</div>