<div class="about-container">
    <div class="section-container">
        <h1 class="section-title">
            À propos
        </h1>
        <div class="section-content">
            <div class="content">
                <p style="margin: 0cm 0cm 8pt; line-height: 1.5; font-size: 15px; font-family: Calibri, sans-serif;"><span style="font-size: 22px;">J&apos;ai la t&ecirc;te dans les ordinateurs depuis toujours.&nbsp;<br>&nbsp;<br>&nbsp;Mon int&eacute;r&ecirc;t pour l&rsquo;informatique n&apos;a pas commenc&eacute; par le logiciel mais par l&rsquo;aspect mat&eacute;riel. Le montage d&rsquo;ordinateur est depuis longtemps une passion pour moi. S&rsquo;en est naturellement suivi un int&eacute;r&ecirc;t pour l&rsquo;aspect logiciel qui est aujourd&rsquo;hui la voie que j&rsquo;ai choisie.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 1.5; font-size: 15px; font-family: Calibri, sans-serif;"><span style="font-size: 22px;">&nbsp;</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 1.5; font-size: 15px; font-family: Calibri, sans-serif;"><span style="font-size: 22px;">Aujourd&rsquo;hui, je suis d&eacute;veloppeur fullstack. J&rsquo;ai accumul&eacute; plusieurs exp&eacute;riences toutes ax&eacute;es vers des environnements .NET associ&eacute;s a l&rsquo;utilisation de framework front comme Angular.<br>&nbsp;Mes exp&eacute;riences m&rsquo;ont permis de d&eacute;velopper mes comp&eacute;tences, notamment sur l&rsquo;environnement ASP.NET Core mais aussi sur la conception d&rsquo;interfaces utilisateur destin&eacute;es aux entreprises.</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 1.5; font-size: 15px; font-family: Calibri, sans-serif;"><span style="font-size: 22px;">&nbsp;</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 1.5; font-size: 15px; font-family: Calibri, sans-serif;"><span style="font-size: 22px;">&Eacute;tant de nature curieuse, le domaine de l&rsquo;informatique et de la programmation ne me laisse jamais sur ma faim, car outre le d&eacute;veloppement fullstack j&rsquo;aime &eacute;galement en tant que d&eacute;veloppeur m&rsquo;essayer &agrave; la cr&eacute;ation de jeux vid&eacute;os en utilisant Unity, un moteur de jeu vid&eacute;o &eacute;crit en C#.</span></p>
            </div>
        </div>
    </div>
</div>