.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-container {
    display: flex;
    flex-direction: row;
}

.header-title {
    font-size: 24wh;
}

.header-container > div {
    height: 50%;
}