<div class="header-container">
    <div class="header-title">
        SG
    </div>
    <div class="navbar-container">
        <div class="about">
            <button mat-flat-button>A propos</button>
        </div>
        <div class="career">
            <button mat-flat-button>Parcours</button>
        </div>
        <div class="skills">
            <button mat-flat-button>Mes compétences</button>
        </div>
        <div class="articles">
            <button mat-flat-button>Mes réalisations</button>
        </div>
    </div>
</div>