<div class="header-container">
    <div class="header-title" routerLink="/home">
        Galloni Spencer
    </div>
    <div class="navbar-container">
        <div class="about">
            <button mat-flat-button routerLink="/home/about">A propos</button>
        </div>
        <div class="career">
            <button mat-flat-button routerLink="/home/career">Parcours</button>
        </div>
        <div class="skills">
            <button mat-flat-button routerLink="/skills">Mes compétences</button>
        </div>
        <div class="articles">
            <button mat-flat-button routerLink="/blog">Mes réalisations</button>
        </div>
    </div>
</div>